# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.env

# Django
backend/media/
backend/staticfiles/
*.sqlite3

# Node
node_modules/
frontend/dist/
frontend/.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
